
.dis{
    height: 70px;
    width: 375px;
    border-width: 12px;
    border-color:white
}
    input{
    height: 50px;
    width: 50px;
    margin: 2px;
}
    

.calculator{
    border: solid 6px black;
    height: 540px;
    width: 430px;
    background-color: black;
    border-radius: 22px;
    padding-left: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
}
.main{
    margin-top:350px;
    margin-left: 500px;
    
}

.v{
    padding-top:15px;
    border: solid;
    background-color: rgb(78, 77, 77);
    border-width: 8px;
    border-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: inset 5px 4px px 3px;
}
.ab{
    margin-left: 60px;
    width: 110px;
    height: 40px;
    background-color: rgb(54, 28, 28);
    
}
.head{
    color: white;
    display: flex;
    justify-content:space-between;
    font-family: 'Times New Roman', Times, serif;
    margin-top:2px;
}
.color{
    background-color: rgb(58, 57, 57);
    border-radius: 20px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;

}
.co{
    background-color: rgb(79, 79, 238);
}
.ce{
    background-color: rgb(252, 107, 71);
}
.bo{
    background-color: rgb(170, 168, 168);
}
.amz{
    display: flex;
    color: white;
    justify-content: space-between;
    padding-bottom: 2px;
}
