
        .tool {
            background-color: #e0b3f5;
            list-style-type: left;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .navbar a {
            text-decoration: none;
            justify-content: end;
            padding: 6px;
        }

        .navbar a:hover{
            font-size: larger;
            font-family: Arial, Helvetica, sans-serif;
            color: blue;
            background-color: aquamarine;
        }
        .tb{
         height: 400px;
         width: 500px;
        background-color: rgb(224, 179, 245);
            margin-top: 100px;
        }
       .tb img{
            height: 150px;
            width: 180px;
            padding-left: 160px;
        }
        input{
            background-color: blueviolet;
            color: white;
        }
        .th{
            text-align: left;
        }
     