
        .tool {
            background-color: rgb(224, 179, 245);
            list-style-type: left;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .navbar a {
            text-decoration: none;
            justify-content: end;
            padding: 6px;
        }

        .navbar a:hover{
            font-size: larger;
            font-family: Arial, Helvetica, sans-serif;
            color: blue;
            background-color: aquamarine;
        }
        body {
            margin: 0;
        }
        .tb{
        background-color: rgb(224, 179, 245);
        height: 70px;
        width: 600px;
        }
        button{
             background-color: blueviolet;
            color: white;
        }
        h4{
            padding-left: 20px;
            padding-top: 2px;
        }
        
        .tb ul li{
            padding-top:2px;
        }
        .b1{
             background-color: blueviolet;
            
            margin-right: 20px;
            margin-left: 1280px;
        }
        .b2{
            background-color: red;
        
        }
        h6{
            padding: 20px;
            padding-top:2px;
        
        }
        .sub{
            color: white;
            border-radius: 25px;
  }
        h3{
            padding-left: 20px;
        }
        .cash{
            color: red;
        }
        
        h5{
            padding-left: 590px;
        }