.main{
    border: solid 6px black;
    height: 500px;
    width: 500px;
}
.one{
    background-color: blueviolet;
    height: 100px;
    width: 100px;
    position: static;
   margin: 20px;
}
.two{
    background-color: brown;
    height: 100px;
    width: 100px;
    position: relative;
    margin: 20px;
    top: 20px;
}
.three{
    background-color: red;
    height: 100px;
    width: 100px;
    margin: 20px;
    position: absolute;

}
.four{
    background-color: green;
    height: 100px;
    width: 100px;
    margin: 20px;
    position: fixed;
    top: 20px;
}
.hlo{
    position: sticky;
    background-color: aquamarine;
    top: 20px;
}