body{
            margin: 250px ;
                    background-color: rgb(224, 179, 245);

        }
        .tb h1 {
            text-align: center;
            color: rgb(199, 95, 240);
        }
         .tb h5 {
            text-align: center;
        }
        .login{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .tb input{
            width: 400px;
        
            
        }
button{
            background-color: blueviolet;
            color: white;
        }
      .tb{
        height: 600px;
        width: 200px;
background-color: white;
margin-left: 380px;
padding-left: 20px;
padding-right: 20px;
      }
      select{
        width: 400px;
      }
      h5 a{
        text-align: end;
      }
      a{
        color: blue;
      }