body{
    background-color: aquamarine;
}
.heading{
    display: flex;
    justify-content: space-between;
}
.main{

    display: flex;
    padding-top: 200px;
   padding-left: 50px;
   
   
}
.one{
   
    border-left: solid 2px black;
    padding:20px;
}
