/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #16a34a;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: #d1fae5;
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}