h2{
    margin-top: 100px;
    margin-left: 600px;
}
img{
    padding-top: 50px;
    margin-left: 680px;
}
.one{
    margin-left: 695px;
}
.two{
    margin-left: 585px;
}
.three{
    margin-left: 730px;
}