 .tb{
        height: 500px;
        width: 400px;
background-color: rgba(63, 143, 218, 0.774);
margin-left: 1300px;
padding-left: 20px;
padding-right: 20px;
margin-top: 400px;
border-radius: 10px;
      }
              .tb h1 {
            text-align: center;
            color: rgb(16, 16, 19);
        }
         .tb h5 {
            text-align: center;
            

            }
             h5 a{
        text-align: end;
      }
      a{
        color: rgb(247, 243, 245);
      }
      .tb input{
        height: 35px;
        width: 400px;
        border-radius: 25px;
        padding-left:3px;
        background-color: antiquewhite;
      }
               
button{
            background-color: rgb(83, 68, 214);
            color: white;
            width: 100px;
            height: 50px;
            font-weight: 500;
            
      }
      body{
        background-image: url(lib1.jpg);
        background-size: cover;
      }